/.DS_Store
/.ipynb_checkpoints
/.vscode
/.~oject-SQL.docx
/.~se Study AI.docx
/.~signment-SQL.docx
/.~terature review_caseAI.docx
/30 Hours Data Engineering Cohort.pdf
/51939-response.xlsm
/Airbyte.docx
/Assignment-SQL.docx
/Case Study AI.docx
/Case Study.docx
/CountryCodeQS.csv
/County_Population.csv
/DATAENGINEERS.jpeg
/Data Engineering Roadmap (5).pdf
/Data Science.docx
/Example.drawio
/Example.png
/Journal of Science and Medicine in Sport_20230212
/Journal of Science and Medicine in Sport_20230212.zip
/Lecture1.ipynb
/Onyekachukwu.docx
/Project-SQL.docx
/Real_time_twitter_analytics.ipynb
/Reference case study AI.docx
/Reference-arch-S-Azure-no-Upsolver (1).png
/Reference-arch-S-Azure-no-Upsolver.png
/STOCKDATA.py
/Screenshot 2023-01-19 at 16.44.59.png
/Survey Data.sav
/Types of Data.docx
/Untitled Diagram.drawio (1).png
/Untitled Diagram.drawio (2).png
/Untitled Diagram.drawio (3).png
/Untitled Diagram.drawio.png
/Untitled Diagram.png
/__pycache__
/day_approach_maskedID_timeseries.csv
/day_approach_maskedID_timeseries.xlsx
/dd2sy8837k-1.zip
/domainfille.pddl
/file3.csv
/lecture 8.ipynb
/lecture2.ipynb
/lecture3.ipynb
/lecture4.ipynb
/lecture5.ipynb
/lecture6.ipynb
/lecture7.ipynb
/literature review_caseAI.docx
/main.ipynb
/ntroduction.docx
/paasword.py
/period app.jpeg
/saving_data.ipynb
/script1.sql
/states_daily.csv
/us.csv
/us_county.csv..fdde7e2b
/us_daily.csv
/us_states.csv
/vocab.kos.txt
/week_approach_maskedID_timeseries.csv